body{
	background-color: #ffffff;
}

.banner {
    width: 100%;
    min-width: 1200px;
    text-align: center;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 80px;
    .title {
    	margin-bottom: 40px;
        img {
            width: 300px;
        }
    }
    .container {
    	background-image: url(../images/tiao_policy.png);
	    background-repeat: no-repeat;
		min-height: 600px;
		background-position: 0 15px;
    	.content{
    		padding-left: 50px;
    	}
        a {
            color: #92b7d0;
            text-decoration: none;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
        .info {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.detail-wrapper{
    padding-top: 40px;
    padding-bottom: 80px;
    .title {
        margin-bottom: 40px;
        img {
            width: 300px;
        }
    }
    .content{
        min-height: 600px;
        border: 2px solid #ccc;
        box-shadow: 1px 1px 10px 10px #eee;
        border-radius: 10px;
        padding: 20px 40px;
        background-color: #f1f4f2;
        .content-title{
            text-align: center;
            font-size: 18px;
            margin: 0;
            margin-bottom: 20px;
            color: #7a95e7;
        }
        .content-main{
            font-size: 14px;
        }
    }
}