.wrapper .hot-ar {
  width: 1200px;
  margin: 0 auto; }
  .wrapper .hot-ar .title-top {
    text-align: center;
    padding: 70px 120px 30px;
    font-size: 40px;
    margin: 0; }
    .wrapper .hot-ar .title-top a {
      color: #222;
      text-decoration: none; }
      .wrapper .hot-ar .title-top a:hover {
        color: #666; }
  .wrapper .hot-ar .title-second {
    text-align: center;
    margin: 0;
    padding: 0 120px;
    font-size: 24px; }
    .wrapper .hot-ar .title-second a {
      color: #222;
      text-decoration: none; }
      .wrapper .hot-ar .title-second a:hover {
        color: #666; }
.wrapper .main-content {
  /*background-image: url(../images/content-bg.png);*/
  background-color: #fcf6eb;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 60px; }
.wrapper .first {
  height: 330px;
  margin-bottom: 50px; }
  .wrapper .first .slider {
    width: 500px;
    height: 330px;
    float: left;
    overflow: hidden;
    position: relative; }
    .wrapper .first .slider ul {
      margin: 0;
      padding: 0; }
    .wrapper .first .slider .slider-wrapper {
      overflow: auto;
      height: 330px;
      list-style: none;
      position: relative; }
      .wrapper .first .slider .slider-wrapper .slider-item {
        float: left;
        width: 500px;
        height: 330px;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        transition: all 1s; }
        .wrapper .first .slider .slider-wrapper .slider-item.active {
          opacity: 1; }
        .wrapper .first .slider .slider-wrapper .slider-item a {
          display: block; }
        .wrapper .first .slider .slider-wrapper .slider-item img {
          width: 100%;
          height: 330px;
          vertical-align: middle; }
        .wrapper .first .slider .slider-wrapper .slider-item .title {
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          overflow: auto;
          position: absolute;
          width: 500px;
          bottom: 0;
          height: 40px; }
          .wrapper .first .slider .slider-wrapper .slider-item .title span {
            float: left;
            line-height: 40px;
            text-indent: 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 350px; }
    .wrapper .first .slider .in-tro {
      list-style: none;
      position: absolute;
      bottom: 0;
      right: 20px;
      line-height: 34px; }
      .wrapper .first .slider .in-tro li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        margin: 1px 1px; }
        .wrapper .first .slider .in-tro li.active {
          background-color: #bf1e1e; }
  .wrapper .first .article {
    width: 680px;
    height: 330px;
    float: right; }
    .wrapper .first .article .item-title img {
      width: 220px; }
    .wrapper .first .article .content {
      padding: 10px 15px;
      height: 200px;
      list-style: none;
      padding: 0;
      margin: 0;
      /*border-radius: 5px;*/ }
      .wrapper .first .article .content li {
        background: url(http://www.mofcom.gov.cn/images/index_img/ico_08.png) no-repeat scroll 3px 8px;
        padding-left: 12px; }
      .wrapper .first .article .content .content-target {
        color: #222;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        display: block; }
        .wrapper .first .article .content .content-target:hover {
          text-decoration: underline; }
      .wrapper .first .article .content p {
        font-size: 14px;
        margin: 10px 0; }
.wrapper .culture .culture-main .item-title img {
  width: 220px; }
.wrapper .culture .culture-main .content-item {
  width: 300px;
  margin: 0 10px;
  float: left; }
  .wrapper .culture .culture-main .content-item h3 {
    border-bottom: 1px dotted #222;
    line-height: 40px;
    margin: 0;
    margin-bottom: 20px; }
  .wrapper .culture .culture-main .content-item ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .wrapper .culture .culture-main .content-item ul li {
      background: url(http://www.mofcom.gov.cn/images/index_img/ico_08.png) no-repeat scroll 3px 8px;
      padding-left: 12px; }
      .wrapper .culture .culture-main .content-item ul li a {
        color: #222;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        display: block; }
        .wrapper .culture .culture-main .content-item ul li a:hover {
          text-decoration: underline; }
.wrapper .culture .square {
  text-align: center;
  width: 500px;
  float: left; }
  .wrapper .culture .square img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #d3c7b9; }
  .wrapper .culture .square p {
    padding: 0 20px; }
.wrapper .second {
  padding-top: 50px;
  padding-bottom: 80px; }
  .wrapper .second > .title {
    width: 100%;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 20px; }
    .wrapper .second > .title img {
      width: 220px; }
  .wrapper .second .item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .wrapper .second .item {
    width: 500px;
    border: 5px solid #92b7d0;
    margin: 30px 0;
    padding: 15px; }
    .wrapper .second .item .item-left {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 15px; }
      .wrapper .second .item .item-left img {
        width: 100%;
        height: 100%; }
    .wrapper .second .item .item-right a {
      color: #006dbf;
      text-decoration: none; }
      .wrapper .second .item .item-right a:hover {
        text-decoration: underline; }
      .wrapper .second .item .item-right a h3 {
        font-size: 16px;
        font-weight: normal; }
    .wrapper .second .item .item-right p {
      font-size: 14px;
      height: 80px;
      overflow: hidden; }

/*# sourceMappingURL=index.css.map */
