<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>沟通东盟海思路 风生水起北部湾{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/images/logo.png" />
    <link href="/static/css/base.css" rel="stylesheet"> {% block css %} {% endblock %}
</head>

<body>
    <div class="nav">
        <div class="container clearfix">
            <h1><a href="/index/"><img src="/static/images/logo.png" alt="logo" class="img-responsive"></a></h1>
            <ul class="nav-second clearfix">
                <div class="second-wrapper">
                    <li><a href="{% url 'index' %}" class="nav-item"><img src="/static/images/home-icon.png" alt=""></a></li>
                    <li><a href="{% url 'article_list' 1 %}" class="nav-item {% if page == 'policy' %}nav-checked{% endif %}">政策</a></li>
                    <li><a href="{% url 'article_list' 2 %}" class="nav-item {% if page == 'information' %}nav-checked{% endif %}">资讯</a></li>
                    <li><a href="{% url 'article_list' 3 %}" class="nav-item {% if page == 'culture' %}nav-checked{% endif %}">文化</a></li>
                    <li><a href="{% url 'article_list' 4 %}" class="nav-item {% if page == 'we' %}nav-checked{% endif %}">我们</a></li>
                </div>
            </ul>
            <!-- <span class="change-lang"><a href="">中/En</a></span> -->
        </div>
    </div>
    <div class="banner" style="background-color: #aecbdc;">
        {% if page == 'index' %}
        <img src="/static/images/new-banner.png" alt=""> {% else %}
        <img src="/static/images/banner-policy.png" alt=""> {% endif %}
    </div>
    {% block main %} {% endblock %}
    <div class="footer">
        <p>第十一届广西高校计算机应用大赛
            <br>Copyright © 2017 扬帆SailinG小组 All Rights Reserved</p>
    </div>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/base.js"></script>
    {% block js %} {% endblock %}
</body>

</html>