{% extends 'gxu/base.html' %} {% block title %} - 首页{% endblock %} {% block css %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %} {% block main %}
<div class="wrapper">
    <div class="hot-ar">
        {% for i in policy_first %}
        <p class="title-top"><a href="{% url 'article_detail' i.id %}">{{i.title}}</a></p>
        {% endfor %}
        {% for i in information_first %}
        <p class="title-second"><a href="{% url 'article_detail' i.id %}">{{i.title}}</a></p>
        {% endfor %}
    </div>
    <div class="container main-content">
        <div class="row first clearfix">
            <div class="slider">
                <ul class="slider-wrapper">
                    {% for i in information %}
                    <li class="slider-item">
                        <a href="{% url 'article_detail' i.id %}"><img src="{{i.headimg}}" alt=""></a>
                        <div class="title">
                            <span>{{i.title}}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="in-tro">
                {% for i in information %}
                    <li></li>
                {% endfor %}
                </ul>
            </div>
            <div class="article">
                <div class="item-title"><img src="/static/images/policy.png" alt=""></div>
                <ul class="content">
                    {% for i in policy %}
                    <li><a href="{% url 'article_detail' i.id %}" class="content-target">{{i.title}}</a></li>
                    <!-- <p>{{i.introduction}}...</p> -->
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="culture clearfix">
            <div class="culture-main">
                <div class="item-title"><img src="/static/images/culture.png" alt=""></div>
                <div class="content clearfix">
                    <div class="content-item">
                        <h3>歌曲</h3>
                        <ul>
                            {% for m in music %}
                            <li><a href="{% url 'music' m.id %}">{{m.name}}</a></li> {% endfor %}
                        </ul>
                    </div>
                    <div class="square">
                        <img src="/static/images/tu2.jpg" alt="">
                        <p>广西北海铁山港码头、金海湾红树林生态保护区美丽景观</p>
                    </div>
                    <div class="content-item">
                        <h3>视频</h3>
                        <ul>
                            {% for v in video %}
                            <li><a href="{% url 'video' v.id %}">{{v.name}}</a> </li>{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row second">
            <div class="title"><img src="/static/images/news.png" alt=""></div>
            <div class="item-wrapper">
                {% for i in information %}
                <div class="item clearfix">
                    <div class="item-left"><img src="{{i.headimg}}" alt=""></div>
                    <div class="item-right">
                        <a href="{% url 'article_detail' i.id %}"><h3>{{i.title}}</h3></a>
                        <p>{{i.introduction}}...</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}